# Dependencies
node_modules/

# npm
*.tgz
npm-debug.log*
.npmrc

# Test scaffolded output folders
frontend/
test-project/
test-project-fresh/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
